<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.pasiekaradosna.menadzerpasieki">
    <!-- Uprawnienia do lokalizacji -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> <!-- Uprawnenia do internetu -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestMenadzerPasieki">
        <activity
            android:name=".gui.mainScreen.dashboard.adapters.hive.HiveDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".gui.ApiaryDetailsActivity"
            android:exported="false"
            android:label="@string/ApiaryDetailsActivityTitle"
            android:parentActivityName=".gui.MainScreenActivity" />
        <activity
            android:name=".gui.mainScreen.apiaryManagement.CreateApiaryActivity"
            android:exported="false"
            android:parentActivityName=".gui.MainScreenActivity" />
        <activity
            android:name=".gui.mainScreen.hive.CreateHiveActivity"
            android:exported="false"
            android:parentActivityName=".gui.MainScreenActivity" />
        <activity
            android:name=".gui.LocationTestActivity"
            android:exported="false" />
        <activity
            android:name=".gui.MainScreenActivity"
            android:exported="false"
            android:label="@string/title_activity_main_screen" />
        <activity
            android:name=".gui.ApiaryDetails2Activity"
            android:exported="false"
            android:parentActivityName=".gui.MainActivity" />
        <activity
            android:name=".gui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>